.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-details {
  display: flex;
  align-items: center;
  gap: 15px; /* Espacio entre la imagen y los detalles del producto */
}

.post-image {
  width: 80px; /* Tamaño fijo para la imagen */
  height: 80px; /* Tamaño fijo para mantener la proporción */
  object-fit: cover; /* Asegura que la imagen cubra todo el espacio asignado */
}

.post-title {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.post-description {
  font-size: 0.9em;
  color: #555;
}

.btn-primary {
  padding: 0.375rem 0.75rem !important;; 
}
