.list-group-item {
  display: flex;
  justify-content: space-between;
}

.product-details {
  display: flex;
  gap: 15px; 
}

.product-image2 {
  width: 80px ; 
  height: 80px ; 
  object-fit: cover;
  border-radius: 1rem;
}

.product-title {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.product-description {
  font-size: 0.9em;
  color: #555;
}

.btn-primary {
  padding: 0.375rem 0.75rem !important; 
}
